/* google font */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Pacifico&display=swap'); 

/* BODY */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #dedede;
}

/*container*/

.bg-blanc{
    background-color: white;  
}

h1{
    color: #c10000;
    font-family: 'pacifico';
}

/* LOGO DU FOOTER */
.logo{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

/* LOGO DU MENU */
.femme{
    width: 100px;
    height: 65px;
}

.carou{
    color: #c10000;
}

.btn-red{

    border: 1px  #c10000 solid;
    margin-bottom: 20px;
    
}
.btn-red:hover{
    color: #ff4949;
      
}

hr{
    width: 50%;
    size: 2px;
    margin-bottom: 20px;

}