/* google font */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/* BODY */

body{
    font-family: 'Poppins', sans-serif;
}

/* LOGO DU FOOTER */
.logo{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

/* LOGO DU MENU */
.femme{
    width: 100px;
    height: 65px;
}

.carou{
    color: #c10000;
}

.btn-fred{

    border: 1px  #c10000 solid;
}
.btn-fred:hover{
    color: #c10000;
    margin-left: -10px;
    transition: 0.5s;
}